body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  .container {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 8px;
    width: 350px;
    height: 320px;
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin: auto;
    display: block;
  }
  
  .form-title {
    font-family: 'Arial';
    margin-bottom: 20px;
    color: black;
  }
  .word{
    color: rgb(147, 143, 143);
    font-family: 'Calibri';
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #258ee9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .privacy-link {
    display: block;
    font-family: 'Calibri';
    color: #63a3fb;
    text-decoration: none;
    margin-top: 20px;
  }
  